.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.row1 {
    width: 100%;
    text-align: right;
}

.btnAdd{
    background-color: #48CD00;
    color: #fff;
    padding: 10px 20px;
    margin: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1000;
}

.btnAdd:hover {
    background-color: #40B800;
}

#alumnosList {
    border-collapse: collapse;
    width: 100%;
    height: 200px; /* Altura fija de la tabla */
    overflow: scroll; /* Habilitar scroll vertical*/ 
  }
  
  /* Estilo del encabezado */
  #alumnosList thead {
    width: auto;
    background-color: #333;
    color: #fff;
  }

  #alumnosList tbody td {
    width: 100%;
    padding: 5px; /* Espacio entre el contenido y el borde de la celda */
    border: 1px solid #ddd; /* Borde de la celda */
  }

  /* Estilo de las columnas */
  #alumnosList tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  /* Estilo de las filas al pasar el puntero */
  #alumnosList tbody tr:hover {
    background-color: #ddd;
  }
  
  /* Estilo del puntero */
  #alumnosList tbody tr:hover td {
    cursor: pointer;
  }
  .opciones {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .btnOpcion {
    margin: 5px;
    width: 50%;
    text-align: center;
  }
  
  /* Estilo del modal */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }