.card{
    display: flex;
    flex-direction:column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.row1{
    text-align: center;
    width: 100%;
}

.btnAdd{
    background-color: #48CD00;
    color: #fff;
    padding: 10px 20px;
    margin: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 500px;
    z-index: 1000;
}

.btnAdd:hover {
    background-color: #40B800;
}
  